#favorites-overlay {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    overflow: auto;
    /* padding: 20px 20px 100px 20px; */
}

#favorites-overlay.active {
    opacity: 1;
    pointer-events: all;
}

#favorites-overlay .overlay-header {
    text-align: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
    padding: 20px;
    color: #1f1f1f;
}

/* This allows the opacity transition to work */
#favorites-overlay.hidden {
    display: block;
}

.favorites-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 20px;
    padding: 20px 20px 100px 20px;
}

.favorite-item {
    background: #FFF8D1;
    border: 1px solid #FEC200;
    padding: 16px;
    cursor: pointer;
    /*transition: background-color .2s ease;
    */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.favorite-item .label {
    font-size: 14px;
}

/* .favorite-item:hover {
    background-color: #f0f0f0;
} */

.favorite-title {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* We are reusing the .overlay-addresses styles from price-overlay.css */
.favorite-item .overlay-addresses .row {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 20px;
}