.get-price-wrapper {
    margin: 20px 0px;
    padding: 20px;
}

.get-price-wrapper .header{
    padding: 20px 0px;
}
.get-price-wrapper .header .heading-text {
    font-size: 40px;

}


/* .inputs {
    padding: 10px;
} */

.inputs .location {
    margin: 10px 0px  20px 0px;
    /* max-width: ; */
}

.inputs .location .location-input {
    font-size: 18px;
    padding: 15px 20px;
    margin: 8px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #F5E4C6;
    outline: none;
    border: none;
    /* max-width: calc(100vw - 60px); */
    width: 100%;
}

.inputs .location .location-input:focus {
    outline: 2px solid #FAB766;
}

.inputs .location .location-input::placeholder,
.inputs .date-time .date-time-input::placeholder {
    color: #100C06;
}

.inputs .date-time {
    margin: 30px 0px 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
}

.inputs .date-time .date-time-input {
    font-size: 18px;
    padding: 15px 20px;
    margin: 5px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #F5E4C6;
    outline: none;
    border: none;
    width: 100%;

}
.inputs .plan-for-later .date-time .label-for-date-time {
    font-size: 14px;
}



/* DESTINATIONS SUGGESTIONS */
.suggestion-wrapper {
    padding: 20px 0px;
}

.suggestion-wrapper .heading .text {
    font-size: 18px;
    /* font-weight: 500; */
    margin-bottom: 10px;
}

.suggestion-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggestion-cards .icon {
    font-size: 18px;
    padding: 10px 20px;
}

.suggestion-cards .text-sec {
    border-bottom: 1px solid #E9CA9A;
    padding: 10px 0px;
}

.suggestion-cards .text-sec .heading .text {
    font-size: 17px;
    margin-bottom: 3px;
}

.get-price-button {
    margin: 10px 0px;
}

.get-price-btn {
    background: #FAB766;
    color: #363633;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
.get-price-btn:hover {
    background: #e2a963;
}
.get-price-btn:active {
    background: #c99350;
}