@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-pri: #FEC300;
    --color-sec: #B6113E;
    --color-eror: #F44539;
    --color-succ: #459F4A;
    --color-warn: #FB8900;
    --color-info: #B7B7B7;
    --color-grey: #5f5f5f;
    --color-dark: #1f1f1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-bottom: 90px;
    background-color: #fff;
    color: var(--color-dark);
    /* overflow: hidden; */
}

#nav-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 70px;
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(20px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#nav-bar .nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

#nav-bar .nav-item {
    font-size: 19px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    padding: 20px;
}

#nav-bar .nav-item:hover,
#nav-bar .nav-item:active {
    color: var(--color-pri);
}